.image{
  display:inline-block;
  position:relative;
  padding:10px 0px 10px 0px;
}

.image > .control{
  position:absolute;
  background-color:#fff;
  opacity:0.7;
  top:10px;
  border: solid #666 1px;
  cursor:pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;	
}

.image > .control:active{
  background-color: #666;
}

.image > .control:hover{
  opacity:1;
}

.image > #small{
  height:20px;
  width:20px;
  left:10px;
}

.image > #medium{
  height:35px;
  width:35px;
  left:40px;
}

.image > #large{
  height:50px;
  width:50px;
  left:85px;
}

.imgsmall{
  width:25%;
}
.imgmedium{
  width:50%;
}
.imglarge{
  width:100%;
}
