.previewImages {
  border: 2px solid #bbbbbb;
  margin: 2px;
  display: inline-block;
  line-height: 0;
}

.previewImages img {
  position: inherit;
}

.previewImages .character {
  /* Do not use display: none, or you'll break backspace for some reason! */
  font-size: 0;
  opacity: 0;
}

