.image > control{
  position:absolute;
  background-color:#fff;
  opacity:0.7;
  top:10px;
  border: solid #666 1px;
}

.image > #small{
  height:20px;
  width:20px;
  left:10px;
}

.image > #medium{
  height:35px;
  width:35px;
  left:40px;
}

.image > #large{
  height:50px;
  width:50px;
  left:85px;
}
